body {
background-image:url(END-1.jpg);
background-repeat: no-repeat;
background-size: contain;
font-family: 'Open sans', sans-serif;
}
h1{
    text-align: center;
    text-decoration-color: blue;
}
nav {
    display: flex;
    gap: 20px;
    list-style: none;
}